.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-container {
  display: flex;
  flex: 1;
}

.sidebar-admin {
  width: 250px;
  background: #343a40;
  color: white;
  padding: 20px;
}

.sidebar-admin ul {
  list-style: none;
  padding: 0;
}

.sidebar-admin li {
  margin: 15px 0;
}

.sidebar-admin a {
  color: white;
  text-decoration: none;
  display: block;
}

.content {
  flex: 1;
  padding: 20px;
}
.sidebar-admin ul {
  list-style: none;
  padding: 0;
}

.sidebar-admin li {
  margin: 15px 0;
  padding: 10px;
  border-radius: 5px;
}

.sidebar-admin li a {
  color: white;
  text-decoration: none;
  display: block;
}

/* Highlight khi active */
.sidebar-admin li.active {
  background-color: #007bff;
  font-weight: bold;
}
