.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: #dad2b4;
}

.logo img {
  width: 200px;
  display: block;
}

.nav-links {
  display: flex;
  gap: 70px;
}

a {
  text-decoration: none !important;
  font-size: 1.2rem;
  font-weight: 500;

  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

a:hover {
  color: #c49898 !important;
}

.auth {
  width: 200px;
  display: flex;
  justify-content: end;
  gap: 20px;
}
